.landing-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 16px;
    background: linear-gradient(-45deg, rgb(104, 105, 246), white, rgb(251, 221, 112));
    background-size: 400% 400%;
    animation: animate 12s ease infinite;
    border-radius: 25px;
}

.landing-images {
    width: 50%;
    align-self: center;
    text-align: -webkit-center;
}

.landing-image {
    transform: scale(0.65);
}

.landing-form {
    width: 100%;
    padding: 128px;
    align-self: center;
    text-align: -webkit-center;
}

.landing-form-image {
    margin-bottom: 64px;
    max-height: 320px;
    min-height: 25%;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 600px) {}