.card-header {
    display: flex;
    margin: 0px 16px 16px 16px;
    gap: 16px;
    align-items: center;
}

.card-header-progress {
    margin: 0px;
}

.quill {
    height: calc(100vh - 256px);
}

.ant-spin {
    max-height: unset !important;
}

.last-sync {
    text-align: end;
    font-style: italic;
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .card-header {
        margin: 0px 0px 16px 0px;
    }

    .ql-container.ql-snow {
        height: 64vh;
    }
}