.content {
    height: calc(100vh - 64px - 65px);
    background-color: white;
    padding: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.header-title {
    color: white;
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer {
    display: flex;
    justify-content: space-between;
}